<ion-content>
  <div class="container">
    <div class="row boxShadow">
      <!------------- Colonne Gauche---->
      <div class="col-12 col-md-6 imgGauche">
        <div class="contenu py-5">
          <div class="py-5"></div>
          <h2 class=" ">
            <img style="height: 35%; width: 35%; margin-left: 35%; margin-top: -10%; " src="../../assets/Logo1.png" alt="" srcset="">
          </h2> 
        
        </div>
        
      </div>
  
      <!------------- Colonne Droite ---->
      <div class="col-12 col-md-6 form">
        <form name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && onSubmit()" class="py-3 px-3">
          <fieldset>
            <legend class="display-6 text-center my-3"><b>Connexion</b></legend>
          </fieldset>
          <div class="trait"></div>
          
          <div class="row col-12">
            
            <!-- <div class=" mb-2 ">
              <div class="col-12 alert alert-danger">
                <span class="px-4 w-100" ></span>
              </div>
            </div> -->

            <div class="mb-3 form-row form-floating">
              <input type="text" name="username" id="username" placeholder="Nom d'utilisateur" class="form form-control inputvalue"name="username" id="username"  [(ngModel)]="form.username" #username="ngModel" >
              <label for="username">Nom d'utilisateur<span style="color: #E88441;">*</span></label>
            </div>

            <div class="mb-3 form-row form-floating">
              <input type="password" name="password" id="password" placeholder="Mots de passe *" class="form form-control inputvalue"name="password" [(ngModel)]="form.password" #password="ngModel" id="password" >
              <label for="password">Mot de passe <span style="color:#E88441;">*</span></label>
              <a href="#" style="color:#E88441; cursor:pointer"> <p class="my-3">Mots de passe <span> oublié </span> ? </p></a>
              
            </div>
           
          </div>       

          <button class="btn btnAjouter" (click)="onSubmit()">Se Connecter</button>
        </form>
  
      </div>
    </div>
  </div>


</ion-content>