* {
    font-family: 'AaBezee', sans-serif;
}

.inputvalue {
    background: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    border: none;
}
.child1 {
   // position: absolute;
   // width: 100%;
    //height: 100%;
    top: 0;
    left: 0;
    
}
.parent {
    // position: absolute;
    background: transparent;
    //margin-left: 30px;
    border-radius: 12px 12px 12px 12px;
    height: 365px;
    width: 680px;
   
}
.imgGauche {
    //color: white;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.778) url('../../assets/4860253 1.png');
   // background-size: cover;
   // background-repeat: no-repeat;
    z-index: -2;
    background-blend-mode: darken;
    height: 365px;
    width: 680px;
}

.container {
    margin-top: 8%;
    border-radius: 20px;
    background-color: #FCF7F4;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.842);
    padding: 35px;
}

label {
    margin-left: 10px;
}

img {
    position: relative;
    //top: 25%;
    bottom: -80px;
    margin-left: 30%;
    display: flex;
    align-items: center;
   
}

.imgGauche h6 {
    margin-top: -3%;
    margin-bottom: 20vh;
    color: white;
    font-size: 15px;
    text-align: center;
    justify-content: center;

}

.trait {
    border: 2px solid #E88441;
    width: 150px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.btnAjouter {
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-left: 35%;
    width: 200px;
    height: 50px;
    border: none;
    font-weight: 400;
}

.btnAjouter:hover {
    background-color: #E88441;
}

.form {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.imgGauche img {
    z-index: -2;
    height: 400px;
    width: 70%;
}

.contenu {
    color: #FCF7F4;

}

ion-input.custom {
    --background: #ffffff;
    --color: #000000;
    --placeholder-color: #ddd;
    --placeholder-opacity: .8;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
  }