<ion-header >
  
  <section class="header">
    <div class="logo">
        <i class="ri-menu-line icon icon-0 menu"></i>
        <h2 style="color: #E88441;"><ion-img src="../../assets/Logo1.png" style="height:80px; width: 80px; bottom: 1%; margin-left: 40%;"></ion-img></h2>
    </div>
    <div class="search--notification--profile">
        <div class="search">
            <!-- <input type="text" placeholder="Search Scdule..">
            <button><i class="ri-search-2-line"></i></button> -->
        </div>
        <div class="notification--profile">
            <!-- <div class="picon lock">
                <i class="ri-lock-line"></i>
            </div>
            <div class="picon bell">
                <i class="ri-notification-2-line"></i>
            </div> -->
            <div class="picon chat">
                <p>admin admin</p>
            </div>
            <div class="picon profile">
                
                <img src="profile.jpg" alt="">
            </div>
        </div>
    </div>
</section>

</ion-header>

<ion-content>  
<body>
 

  
  
      <div class="sidebar">
          <ul class="sidebar--items">
            <a routerLink="/home" >
                  <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                  <span class="sidebar--item">Acceuil</span>
              </a>
              <li>
                  <a routerLink="/profil">
                      <span class="icon icon-8"><i class="ri-calendar-2-line"></i></span>
                      <span class="sidebar--item">Profil</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/produit"id="active--link">
                      <span class="icon icon-8"><i class="ri-user-2-line"></i></span>
                      <span class="sidebar--item" style="white-space: nowrap;">Produits</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/option-utilisateur">
                      <span class="icon icon-8"><i class="ri-user-line"></i></span>
                      <span class="sidebar--item">Utilisateurs</span>
                  </a>
              </li>
              <li>
                   <a routerLink="/option-activite">
                    <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                    <span class="sidebar--item">Activitées</span>
                </a>
              </li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <li>
                <a href="#" id="active--link">
                    <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                    <span class="sidebar--item">Deconnexion</span>
                </a>
            </li>
          </ul>
          
      </div>
      <div class="main--content">

      </div>