<ion-header >
  
    <section class="header">
      <div class="logo">
          <i class="ri-menu-line icon icon-0 menu"></i>
          <h2 style="color: #E88441;"><ion-img src="../../assets/Logo1.png" style="height:80px; width: 80px; bottom: 1%; margin-left: 40%;"></ion-img></h2>
      </div>
      <div class="search--notification--profile">
          <div class="search">
              <!-- <input type="text" placeholder="Search Scdule..">
              <button><i class="ri-search-2-line"></i></button> -->
          </div>
          <div class="notification--profile">
              <!-- <div class="picon lock">
                  <i class="ri-lock-line"></i>
              </div>
              <div class="picon bell">
                  <i class="ri-notification-2-line"></i>
              </div> -->
              <div class="picon chat">
                  <p>admin admin</p>
              </div>
              <div class="picon profile">
                  
                  <img src="profile.jpg" alt="">
              </div>
          </div>
      </div>
  </section>
  
</ion-header>

<ion-content>  
  <body>
   
  
    
    
        <div class="sidebar">
            <ul class="sidebar--items">
                <a routerLink="/home" id="active--link">
                    <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                    <span class="sidebar--item">Acceuil</span>
                </a>
                <li>
                    <a routerLink="/profil">
                        <span class="icon icon-8"><i class="ri-calendar-2-line"></i></span>
                        <span class="sidebar--item">Profil</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/produit">
                        <span class="icon icon-8"><i class="ri-user-2-line"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Produits</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/option-utilisateur">
                        <span class="icon icon-8"><i class="ri-user-line"></i></span>
                        <span class="sidebar--item">Utilisateurs</span>
                    </a>
                </li>
                <li>
                     <a routerLink="/option-activite">
                      <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                      <span class="sidebar--item">Activitées</span>
                  </a>
                </li>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
                <li>
                  <a href="#" id="active--link">
                      <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                      <span class="sidebar--item">Deconnexion</span>
                  </a>
              </li>
            </ul>
            
        </div>
        <div class="main--content">
            <div class="overview">
                <div class="title">
                    <h2 class="section--title">Statistique</h2>
                    <!-- <select name="date" id="date" class="dropdown">
                        <option value="today">Aujourd'hui</option>
                        <option value="lastweek">Semaine Dernière</option>
                        <option value="lastmonth">Mois Dernier</option>
                        <option value="lastyear">L'année dernière</option>
                        <option value="alltime">Tous</option>
                    </select> -->
                </div>
                <div class="cards">
                    <div class="card card-1">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Produits Soumis</h5>
                                <h1>152</h1>
                            </div>
                            <i class="ri-user-2-line card--icon--lg"></i>
                        </div>
                        <div class="card--stats">
                            <!-- <span><i class="ri-bar-chart-fill card--icon stat--icon"></i>65%</span> -->
                            <!-- <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>10</span>
                            <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>2</span> -->
                        </div>
                    </div>
                    <div class="card card-2">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Total Utilisateurs</h5>
                                <h1>1145</h1>
                            </div>
                            <i class="ri-user-line card--icon--lg"></i>
                        </div>
                        <div class="card--stats">
                            <!-- <span><i class="ri-bar-chart-fill card--icon stat--icon"></i>82%</span> -->
                            <!-- <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>230</span>
                            <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>45</span> -->
                        </div>
                    </div>
                    <div class="card card-3">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Nombres de commandes</h5>
                                <h1>15</h1>
                            </div>
                            <i class="ri-calendar-2-line card--icon--lg"></i>
                        </div>
                        <div class="card--stats">
                            <!-- <span><i class="ri-bar-chart-fill card--icon stat--icon"></i>27%</span> -->
                            <!-- <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>31</span>
                            <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>23</span> -->
                        </div>
                    </div>
                    <div class="card card-4">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Nombre de produits postés</h5>
                                <h1>102</h1>
                            </div>
                            <i class="ri-hotel-bed-line card--icon--lg"></i>
                        </div>
                        <div class="card--stats">
                            <!-- <span><i class="ri-bar-chart-fill card--icon stat--icon"></i>8%</span> -->
                            <!-- <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>11</span>
                            <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>2</span> -->
                        </div>
                    </div>
                </div>
            </div>
    

            <div class="doctors">
                <div class="title">
                    <h2 class="section--title">Produits </h2>
                    <div class="doctors--right--btns">
                        <select name="date" id="date" class="dropdown doctor--filter">
                            <option >Filter</option>
                            <option value="free">Poster</option>
                            <option value="scheduled">En attente</option>
                            <option value="scheduled">Rejeté</option>
                        </select>
                        <button routerLink="/produit" class="add"><i class="ri-add-line"></i>Evaluer un Produit </button>
                    </div>
                </div>
                
                
                <ion-slides [options]="slideOpts" pager="true" >
                    <ion-slide>
                        <div class="doctors--cards">
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro3.jpg" alt="">
                                    </div>
                                </div>
                                <p class="free">Poster</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro4.jpg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro5.jpg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro6.jpg" alt="">
                                    </div>
                                </div>
                                <p class="free">Poster</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro7.jpg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/ginger-juice.jpg" alt="">
                                    </div>
                                </div>
                                <p class="free">Poster</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/pexels-photo-128402.jpeg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                        </div>
                    </ion-slide>


                    <ion-slide>
                        <div class="doctors--cards">
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro3.jpg" alt="">
                                    </div>
                                </div>
                                <p class="free">Poster</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro4.jpg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro5.jpg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro6.jpg" alt="">
                                    </div>
                                </div>
                                <p class="free">Poster</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/gastro7.jpg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/ginger-juice.jpg" alt="">
                                    </div>
                                </div>
                                <p class="free">Poster</p>
                            </a>
                            <a href="#" class="doctor--card">
                                <div class="img--box--cover">
                                    <div class="img--box">
                                        <img src="../../assets/pexels-photo-128402.jpeg" alt="">
                                    </div>
                                </div>
                                <p class="scheduled">En attente</p>
                            </a>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
            <div class="recent--patients">
                <div class="title">
                    <h2 class="section--title">Informations de l'Administrateur Connecté</h2>
                    <button class="add" routerLink="/ajout-user"><i class="ri-add-line"></i>Ajouter un utilisateurs</button>
                </div>
                <div class="table" >
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Username</th>
                                <th>Numéro</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Admin</td>
                                <td>Admin</td>
                                <td class="pending">Admin07</td>
                                <td>70562633</td>
                                <td><ion-button><ion-icon name="add-circle"></ion-icon></ion-button></td>
                            </tr>
                           
                           
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    
</body>
</ion-content>
